.navbar-addpost{
  margin-right: 1%;
}
.div-search{
  margin-right: 4%;
}
.btn-posts {
  margin-bottom: 35px;
}
.div-posts {
  background-color: lightgray;
  margin-top: 20px;
  border-radius: 20px;
  padding: 13px 20px 25px 25px;
}
.div-categories{
  background-color: aquamarine;
  border-radius: 20px;
  padding: 2.5% 5% 5% 5%;
}
.category-button{
  float: left;
  margin-right: 8%;
}
.div-details{
  padding-bottom: 5%;
}
.div-profile{
  width: 45%!important;
  padding-bottom: 0!important;
  float:right;
}
.div-details-buttons {
  float: right;
}